<!-- search bar -->
<div class="container search-bar">
  <div class="search-bar-outer">
    <div class="search-bar-inner">
      <form action="/restaurants" id="search-sort-form">
        <h4 class="mb-2">尋找餐廳：</h4>
        <div class="row">
          <div class="col-sm-8">
            <div class="input-group">
              <input type="text" name="keyword" class="form-control" placeholder="輸入餐廳、分類" aria-label="Restaurant Name..."
                value="{{keyword}}" aria-describedby="search-button">
              <div class="input-group-append">
                <button class="btn btn-major" type="submit" id="search-button"><i class="fas fa-search"></i></button>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <select name="sort" class="form-select mb-3" aria-label="sort" onchange="document.getElementById('search-sort-form').submit()">
              <option value="id" {{#if (isEqual sort "id")}}selected{{/if}}>不排序</option>
              <option value="name" {{#if (isEqual sort "name")}}selected{{/if}}>A > Z</option>
              <option value="name-DESC" {{#if (isEqual sort "name-DESC")}}selected{{/if}}>Z > A</option>
              <option value="category" {{#if (isEqual sort "category")}}selected{{/if}}>類別</option>
              <option value="location" {{#if (isEqual sort "location")}}selected{{/if}}>地區</option>
            </select>
          </div>
        </div>
        <input type="hidden" name="page" value="1">
      </form>
    </div>
  </div>
</div>

<!-- restaurant list -->
<div class="container mt-5">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <div class="row row-cols-sm-3">
        {{#each restaurants as |rest|}}
        <div class="card mb-3 px-1">
          <a href="/restaurants/{{rest.id}}" class="text-secondary">
            <img class="card-img-top" src="{{rest.image}}" alt="{{rest.name}}">
          </a>
          <div class="card-body mx-2">
            <h6 class="card-title mb-1">{{rest.name}}</h6>
          
            <div class="restaurant-category mb-1">
              <i class="fas fa-utensils pr-2"></i> {{rest.category}}
            </div>
          
            <span class="badge rounded-pill bg-danger font-weight-normal">
              {{rest.rating}}
              <i class="fas fa-star fa-xs"></i>
            </span>
            <hr>
            <div class="d-flex justify-content-end mt-2">
              <a class="btn" href="/restaurants/{{rest.id}}/edit">Edit</a>
              <a class="btn" href="/restaurants/{{rest.id}}">Detail</a>
              <a class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#ModalDelete{{rest.id}}" href="">Delete</a>
            </div>
          </div>
        </div>
        {{!-- delete modal --}}
        <div class="modal fade" id="ModalDelete{{rest.id}}" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-body">
                <h5 class="modal-title" id="exampleModalLabel">確認刪除 {{rest.name}} 的相關資訊</h5>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <form action="/restaurants/{{rest.id}}?_method=DELETE" method="post">
                  <button class="btn btn-danger" type="submit"> Delete</button>
                </form>
              </div>
            </div>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>
{{!-- Paginator --}}
<div class="container">
  <div class="row justify-content-md-center my-3 ms-3">
    <div class="col col-lg-1">
      <form action="/restaurants" method="GET">
        <input type="hidden" name="keyword" value="{{keyword}}">
        <input type="hidden" name="sort" value="{{sort}}">
        <input type="hidden" name="page" value="{{prev}}">
        <button type="submit" class="btn btn-primary ms-4"><i class="fa-solid fa-angles-left"></i></button>
      </form>
    </div>

    <div class="col-md-1 px-0">
      <form action="/restaurants" method="GET">
        <input type="hidden" name="keyword" value="{{keyword}}">
        <input type="hidden" name="sort" value="{{sort}}">
        <input type="number" name="page" value="{{page}}" class="form-control">
      </form>     
      
    </div>

    <div class="col col-lg-2 d-flex ps-0">
      <h4 class="mx-3">/ {{maxPage}}</h4>
      <form action="/restaurants" method="GET">
        <input type="hidden" name="keyword" value="{{keyword}}">
        <input type="hidden" name="sort" value="{{sort}}">
        <input type="hidden" name="page" value="{{next}}">
        <button type="submit" class="btn btn-primary"><i class="fa-solid fa-angles-right"></i></button>
      </form>
    </div>
  </div>
  
</div>
<link rel="stylesheet" href="/stylesheets/index page.css">